<div class="container">
  <h1>DojoForum</h1>
  <hr> 
  <div class="row">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <%= link_to 'All', root_path, class:"flex-sm-fill text-sm-center nav-link active"%>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category), class:"flex-sm-fill text-sm-center nav-link" %>
      <% end %>
    </nav>
  </div><br>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/topic_list" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= paginate @topics, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
